<div>
    <h1>Корзина</h1>

    <table class="table table-striped">
        <tr class="table-secondary">
            <td>ID</td>
            <td>TITLE</td>
            <td>COST</td>
            <td>DELETE</td>
        </tr>

        <tbody>
        <tr ng-repeat="p in cartPage">
            <td >{{p.id}}</td>
            <td >{{p.title}}</td>
            <td >{{p.cost}}</td>

            <td>
                <button  class="btn btn-primary" ng-click="deleteScore(p.id)">Удалить</button>
            </td>

        </tr>
        </tbody>
    </table>

</div>